* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    grid-template-rows: repeat(autofit, minmax(70px, 1fr));
    grid-template-areas: 
        "header header header"
        "nav main main"
        "nav footer footer";
    gap: 5px;
}

header {
    grid-area: header;
    padding: 5px;
}

nav {
    grid-area: nav;
    background-color: pink;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav ul {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav li{
    padding: 10px;
    background-color: gray;
    margin: 5px;
    list-style: none;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

nav li:last-child {
    margin-top: auto;
    background-color: orangered;
}

        nav a {
            text-decoration: none;
            color: white;
            font-weight: 400;
        }

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(autofit, minmax( 1fr 200px));
    grid-template-rows: repeat(autofit, minmax(200px 1fr));
    grid-template-areas: 
        "article article article"
        "section1 section1 aside1"
        "section2 section2 aside2"
        "section3 section3 aside2"
        "section4 section4 section4"; 
    gap: 10px;
}

article {
    grid-area: article;
    background-color: blue;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

    article .mainPhoto {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 10px;
    }

    article img {
        width: 100%;
        object-fit: cover;
        display: block;
        border: 1px solid black;
        border-radius: 35px 0 35px 0;
        flex: 1;
    }

    article figcaption {
        color: white;
        padding: 10px;
        align-self: center;
    }


    .section1 {
        grid-area: section1;
        background-color: green;
        padding: 10px;
    }

    .section2 {
        grid-area: section2;
        background-color: yellow;
        padding: 10px;
    }

    .section3 {
        grid-area: section3;
        background-color: brown;
        padding: 10px;
    }

    .aside1 {
        grid-area: aside1;
        background-color: red;
        padding: 10px;
    }

    .aside2 {
        grid-area: aside2;
        background-color: orangered;
        padding: 10px;
    }

    .section4 {
        grid-area: section4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .section4 figure {
        flex: 1;
        grid-template-columns: subgrid;
    }

    .section4 figure img {
        border-radius: 25px;
        flex: 1;
    }

footer {
    grid-area: footer;
    background-color: green;
}

